<div mat-dialog-title>
  <h1>To-Do Form</h1>
</div>

<form [formGroup]="toDoForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="form">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Task</mat-label>
        <input matInput type="text" formControlName="task" />
      </mat-form-field>
    </div>

    <div style="display: flex; flex-direction: column">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category">{{
            category
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button type="button" [mat-dialog-close]="false">
      Cancel
    </button>
    <button mat-raised-button type="submit" color="primary">
      {{ data ? "update" : "save" }}
    </button>
  </div>
</form>
